body {
  background-image: url('http://orig01.deviantart.net/ada4/f/2012/030/7/f/battle_bases_01bg_hd_by_xalien95-d4o49yb.png');
  background-repeat: no-repeat;

}



#title {
  height:500px;
  width: 700px;
  padding: 0 20px;
  /* background-color: #ff6666; */
  font-family: serif;
  font-size: 40px;
  color: black;
  position: absolute;
  top: 150px;
  left: 625px;

}

.AboutMe {
  padding-left: 18%;
}




img {
  width: 40%;
  padding-top: 10%;
  padding-left: 2%;

}

h2 {
  margin-left: 12%;
  padding-top: 3%;
  padding-bottom: 1%;
}

.my-container {
  border: 1px solid black;
  width: 15%;
  margin-right: 73%;


}

%my-col-shared {
  border: 1px solid black;
  width: 10px;
  height: 110px;
  background-size: contain;
  background-repeat: no-repeat;
}

.my-col:nth-child(1) {
  @extend %my-col-shared;
  background-image: url('https://upload.wikimedia.org/wikipedia/sh/thumb/5/56/Charmander.png/200px-Charmander.png');
}
.my-col:nth-child(2) {
  @extend %my-col-shared;
  background-image: url('http://static.pokemonpets.com/images/monsters-images-800-800/5-Charmeleon.png');
}
