body {
  background-image: url('http://orig01.deviantart.net/ada4/f/2012/030/7/f/battle_bases_01bg_hd_by_xalien95-d4o49yb.png');
  background-repeat: no-repeat;

}

%shared-padding {
  padding-left: 2%;
}

#title {
  height:500px;
  width: 700px;
  padding: 0 20px;

  font-family: serif;
  font-size: 40px;
  color: black;
  position: absolute;
  top: 150px;
  left: 625px;

}

.AboutMe {
  padding-left: 15%;
}

h2 {
  @extend %shared-padding;
}


img {
  width: 35%;
  padding-top: 12%;
  @extend %shared-padding;

}
